<%= form_with(model: user_allergen, local: true) do |form| %>
  <% if user_allergen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_allergen.errors.count, "error") %> prohibited this user_allergen from being saved:</h2>

      <ul>
      <% user_allergen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
